table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table td, table th {
    border: 1px solid #0aa1b5;
    padding: 8px;
  }
  table tr:nth-child(even){background-color: #0bbcd2;}
  table tr:nth-child(odd){background-color: #0bafc5;}
  table tr:hover {background-color: #0aa1b5;}
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0b2262;
    color: white;
  }

.small-width {
  width:15em !important;
}
.clickable:hover {
  cursor: pointer;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  outline: none;
  transition: 0.4s;
}
.panel {
  padding: 18px;
  display: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: #b2f218;
}
